@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body,
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 1200px;
  margin: auto;
}

.heading {
  text-align: center;
  padding: 30px 0;
}

header {
  background: #428fef;
  padding: 20px;
}
header div.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a.button {
  border-radius: 5px;
  background-color: #f2f2f2;
  border: 1px solid transparent;
  padding: 8px 20px;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}
header a.button:hover {
  -webkit-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.5);
}

.form {
  padding: 40px;
  border: 1px solid #444;
  box-sizing: border-box;
  border-radius: 5px;
}
.form input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  padding: 5px 10px;
  margin: 5px 0 10px;
  box-sizing: border-box;
}
.form textarea {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  padding: 5px 10px;
  margin: 5px 0 10px;
  box-sizing: border-box;
}
.form Button {
  border-radius: 5px;
  background-color: #f2f2f2;
  border: 1px solid #dfdfdf;
  padding: 8px 20px;
  cursor: pointer;
  box-sizing: border-box;
}

#asks {
}

#asks .ask {
  margin-bottom: 30px;
  border-radius: 5px;
  border: 1px solid #dedede;
  transition: 0.3s;
  transform: scale(0.98);
}
#asks .ask:hover {
  -webkit-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.5);
  transform: scale(1);
  cursor: pointer;
}

#asks .ask .askHeader {
  background-color: #dedede;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#asks .ask .askHeader a.button {
  border-radius: 5px;
  background-color: #f2f2f2;
  border: 1px solid transparent;
  padding: 8px 20px;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}
#asks .ask .askHeader a.button:hover {
  -webkit-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.5);
}

#asks .ask .askBody {
  padding: 10px 10px 20px 10px;
}
