<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %>
    <div class="container">
      <div class="heading">
        <div class="row">
          <h3>Sou a Index</h3>
        </div>
      </div>
    </div>
  </body>
</html>
