<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %>
    <div class="container">
      <% if(status === "ERROR"){%>
      <div class="heading">
        <div class="row">
          <h3>404 - Pergunta não encontrada</h3>
        </div>
      </div>

      <% }else{ %>
      <div id="askView">
        <div class="ask">
          <div class="askHeader">
            <div><h3><%= ask.title %></h3></div>
            <div>
              <a href="#" class="button">Responder</a>
            </div>
          </div>

          <div class="askBody">
            <p><%= ask.description %></p>
          </div>
        </div>
      </div>

      <% } %>
    </div>
  </body>
</html>
